

<%= form_for([@homework, @question]) do |f| %>


  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field  :phase, value:@homework.actual_phase, min:"0", max:"3", id:"phase", class:"form-control" %>

    <form class="form-horizontal">

      <div class="form-group">
        <label for="question" class="col-sm-9 control-label">Pregunta</label>
        <div class="col-sm-offset-4">
          <div class="col-xs-6">
            <%= f.text_area :content, cols: 40, rows: 5, id:"question", class:"form-control", placeholder: 'Ingrese pregunta' %>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="span4">
            <div class="spacer10"></div>
        </div> 
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <div class="actions">
            <%= f.submit :'Aceptar' %>
          </div>
        </div>
      </div>
    </form>
  <% end %>


