<p id="notice"><%= notice %></p>

<p>
  <strong>Contenido:</strong>
  <%= @question.content %>
</p>



<p>
  <strong>Disponible:</strong>
  <%- if @question.upload?%>
    <%= 'Si' %>
  <% else %>
    <%= 'No' %>
  <% end -%>
</p>
<%- if current_user.role?%>
<%= link_to 'Editar', edit_homework_question_path(@homework, @question) %>
|<% end -%>
<%= link_to 'Atrás', homework_questions_path(@homework, ) %>
<br>
<% if(!@answer.nil?) %>
<%= link_to 'Ver Respuesta', homework_question_answer_path(@homework, @question, @answer) %>
<%= link_to 'Editar Respuesta', edit_homework_question_answer_path(@homework, @question, @answer) %>
<%= link_to 'Eliminar Respuesta', homework_question_answer_path(@homework, @question, @answer), method: :delete, data: { confirm: '¿Estas Seguro?' } %>
<% else %>
  <%- if not current_user.role?%>
  <%= link_to 'Responder', new_homework_question_answer_path(@homework, @question) %>
  <% end %>
<% end %>
