<%= form_for([@tree, @tree.content_questions]) do |f| %>
  <% if @tree.content_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tree.content_question.errors.count, "error") %> prohibited this content_question from being saved:</h2>

      <ul>
      <% @tree.content_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :question %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
