<p id="notice"><%= notice %></p>

<h1>Listing Content Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Tree</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @content_questions.each do |content_question| %>
      <tr>
        <td><%= content_question.question %></td>
        <td><%= content_question.tree %></td>
        <td><%= link_to 'Show', content_question %></td>
        <td><%= link_to 'Edit', edit_content_question_path(content_question) %></td>
        <td><%= link_to 'Destroy', content_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content question', new_content_question_path %>
