
<%= form_tag controller:"users", action:"asistencia", method:"post" do %>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Apellido</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <% @users.sort_by{|e| e[:last_name]}.each do |user| %>
          <%= fields_for 'asistentes[]', user do |p| %>
          <tr>
            <div class="field">
              <td style="text-align:left"><%= user.last_name %></td>
              <td style="text-align:left"><%= user.first_name %></td>
              <td><%= p.check_box :asistencia %></td>
            </div>
          </tr>
          <% end %>
        <% end %>
      </tbody>
  </table>
  <div class="actions" style="text-align: center">
    <%= submit_tag "Guardar Asistencia"%>
  </div>         
<% end %>

  