<div style="text-align: left">
	<h1><%= "Configuraciones" %></h1>
	<% if false %>
	<table class="table table-striped">
		<thead>
	    <tr>
	      <th>Apellido</th>
				<th>Nombre</th>
				<th>Rol</th>
	    </tr>
	  </thead>
		<tbody>
			<% @users.sort_by{|e| [e[:last_name], e[:first_name]]}.each do |user| %>
			<tr>
				<td><%=user.last_name%></td>
			  <td><%=user.first_name%></td>
				<div class="container">
			    <%= form_for(user) do |f| %>
			      <td><%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %></td>
			      <td><%= f.submit :'Ok', :class=>"btn btn-primary btn-xs"%></td>
			    <% end %>
				  <td><%= link_to("Eliminar usuario", user_path(user), :data => { :confirm => "¿Está seguro que desea eliminar el ususario?" }, :method => :delete, :class => 'button-xs') unless user == current_user %></td>
				</div>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%end%>

<%= form_tag controller:"users", action:"configuration", method:"patch" do %>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Apellido</th>
          <th>Nombre</th>
					<th>Rol</th>
        </tr>
      </thead>
      <tbody>
        <% @users.sort_by{|e| [e[:last_name], e[:first_name]]}.each do |user| %>
          <%= fields_for 'roles[]', user do |p| %>
              <tr>
                <div class="field">
                  <td style="text-align:left"><%= user.last_name %></td>
                  <td style="text-align:left"><%= user.first_name %></td>
									<td><%= p.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %></td>
                </div>
              </tr>
          <% end %>
        <% end %>
      </tbody>
  </table>
  <div class="actions" style="text-align: center">
    <%= submit_tag "Guardar Cambios", :class=>"btn btn-primary"%>
  </div>
<% end %>
