
<h2>Bienvenido <%= current_user.first_name %> <%= current_user.last_name %></h2>
<p>Correo: <%= current_user.email %></p>
<% if user_signed_in? %>
  <% current_user.current_course_id = 11111%> <!-- cambie de nil a numero -->
  <% current_user.save%>
<% end %>

<br></br>
<% if current_user.role? %>
  <p><%= link_to 'Crear Curso', new_course_path, :class=>"btn btn-primary", :style=>'color:white'%></p>
<% else %>
  <p><%= link_to 'Agregar Curso', new_course_path, :class=>"btn btn-primary", :style=>'color:white'%></p>
<% end %>
<br></br>
<% @courses.sort_by{|e| e[:name]}.each do |course| %>
  <div class="column" >
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <% if course.name.length <= 24 %>
          <h3><%= course.name %></h3>
          <br>
        <% else %>
          <h3><%= truncate(course.name, :length => 35, :omission => "...") %></h3>
        <% end %>
        <p><%= truncate(course.description, :length => 150, :omission => "...") %></p>
        <p><%= link_to 'Ingresar', course_path(course), :class=>"btn btn-primary", :style=>'color:white'%></p>
      </div>
    </div>
  </div>
  </div>
<%end%>
