
<h2>Bienvenido <%= current_user.first_name %> <%= current_user.last_name %></h2>
<p>Correo: <%= current_user.email %></p>

<br></br>

<% @courses.sort_by{|e| e[:name]}.each do |course| %>
  <div class="column">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= course.name %></h3>
        <p><%= course.description %></p>
        <p><a href="#" class="btn btn-primary" role="button">Ingresar</a></p>
      </div>
    </div>
  </div>
  </div>
<%end%>
