<%= simple_form_for([@course,@tree]) do |f| %>
  <% if @tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tree.errors.count, "error") %> prohibited this tree from being saved:</h2>

      <ul>
      <% @tree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <br>
   
    <%= f.fields_for :content do |content_fields| %>
      <div class="input-group">
        <%= content_fields.label :content, 'Contenido', :class => "input-group-addon" %>
        <%= content_fields.text_field :text, :class=>"form-control", :placeholder=>"Contenido del Video" %>
      </div>
    <% end %>
    <br>

    <div class="input-group">
      <%= f.label :video, 'Video', :class => "input-group-addon"%>
      <%= f.text_field :video, :class=>"form-control", :placeholder=>"URL de Video asociado" %>
    </div>
    <br>

   

<table style="width:100%">
    <tr>
      <td>
      <%= f.simple_fields_for :initial_content_question, @tree.initial_content_question do |builder| %>
        <label for="basic-url">Pregunta inicial de contenido (1.1)</label>
        <%= render "initial_content_question_fields", :f => builder %>
      <% end %>
      </td>
      <td>
      <%= f.simple_fields_for :initial_ct_question do |builder| %>
         <label for="basic-url">Pregunta inicial de pensamiento crítico (1.1)</label>
         <%= render "initial_ct_question_fields", :f => builder %>
      <% end %>
      </td>
    </tr>
    
    <tr>
      <td>
      <%= f.simple_fields_for :recuperative_content_question do |builder| %>
        <label for="basic-url">Pregunta recuperativa de contenido (1.2)</label>
        <%= render "recuperative_content_question_fields", :f => builder %>
      <% end %>
      </td>
      <td>
      <%= f.simple_fields_for :recuperative_ct_question do |builder| %>
        <label for="basic-url">Pregunta recuperativa de pensamiento crítico (1.2)</label>
        <%= render "recuperative_ct_question_fields", :f => builder %>
      <% end %>
      </td>
    </tr>

    <tr>
      <td>
      <%= f.simple_fields_for :deeping_content_question do |builder| %>
        <label for="basic-url">Pregunta de profundización de contenido (2.0)</label>
        <%= render "deeping_content_question_fields", :f => builder %>
      <% end %>
      </td>
      <td>
      <%= f.simple_fields_for :deeping_ct_question do |builder| %>
        <label for="basic-url">Pregunta de profundización de pensamiento crítico (2.0)</label>
        <%= render "deeping_ct_question_fields", :f => builder %>
      <% end %>
      </td>
    </tr>
</table>
    <div class="actions">
      <%= f.submit %>
    </div>



<% end %>
