<%= simple_form_for([@course,@tree]) do |f| %>
  <% if @tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tree.errors.count, "error") %> prohibited this tree from being saved:</h2>

      <ul>
      <% @tree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
    <%= f.fields_for :content do |content_fields| %>
      <div>
        <%= content_fields.label :content, 'Contenido' %>
        <%= content_fields.text_field :text %>
      </div>
    <% end %>

    
    <div class="field">
      <%= f.label :video %><br>
      <%= f.text_field :video %>
    </div>
   
    <div class="field">
      <%= f.label :iterations %><br>
      <%= f.number_field :iterations %>
    </div>

<table style="width:100%">
    <tr>
      <td>
      <%= f.fields_for :initial_content_question do |builder| %>
        <p>Pregunta inicial de contenido (1.1)</p>
        <legend><%= render "content_question_fields", :f => builder %></legend>
      <% end %>
      </td>
      <td>
      <%= f.fields_for :initial_ct_question do |builder| %>
        <p>Pregunta inicial de pensamiento crítico (1.1)</p>
        <%= render "ct_question_fields", :f => builder %>
      <% end %>
      </td>
    </tr>

    <tr>
      <td>
      <%= f.fields_for :recuperative_content_question do |builder| %>
        <p>Pregunta recuperativa de contenido (1.2)</p>
        <%= render "content_question_fields", :f => builder %>
      <% end %>
      </td>
      <td>
      <%= f.fields_for :recuperative_ct_question do |builder| %>
        <p>Pregunta recuperativa de pensamiento crítico (1.2)</p>
        <%= render "ct_question_fields", :f => builder %>
      <% end %>
      </td>
    </tr>

    <tr>
      <td>
      <%= f.fields_for :deeping_content_question do |builder| %>
        <p>Pregunta de profundizacipn de contenido (2.0)</p>
        <%= render "content_question_fields", :f => builder %>
      <% end %>
      </td>
      <td>
      <%= f.fields_for :deeping_ct_question do |builder| %>
        <p>Pregunta de profundización de pensamiento crítico (2.0)</p>
        <%= render "ct_question_fields", :f => builder %>
      <% end %>
      </td>
    </tr>
</table>
    <div class="actions">
      <%= f.submit %>
    </div>



<% end %>
