<%= form_tag controller:"trees", action: "edx_view", :method => :post do %>

  <h4>Usuario <%= @username %></h4> 

  <br>
     

  <table class="table table-hover" style="width:100%">
      <% if state.to_s == "not_seen" %>
        <tr>
          <% if type.to_s == "initial" %>
            <h4> Pregunta inicial </h4>
          <% elsif type.to_s == "recuperative" %>
            <h4> Pregunta recuperativa </h4>
          <% elsif type.to_s == "deeping" %>
            <h4> Pregunta de profundización </h4>
          <% end %>
        </tr>
          
        <tr>
          <td style="width:50%">            
            <%= fields_for content_question do |question_fields| %>
                <div class="input-group">
                  <%= question_fields.text_area :question, :readonly => true, size: "65x10",:class=>"form-control" %>
                </div>
                <br>
                <%#= form_tag "edx_view", :method => :post do %>
                <% content_question.content_choices.shuffle.each do |content_choice| %>
                  <%= question_fields.fields_for :content_choices, content_choice do |choice_fields| %>
                    <div class="input-group">
                      <% puts "vista: se muestra el id y lugar en el arreglo de las alternativas content" %>
                      <% puts choice_fields.object.id %>
                      <%= hidden_field_tag "content_choices[#{choice_fields.object.id}]", :false %>
                      <span class="input-group-addon" id="check">                         
                         <%#= check_box_tag "content_choices[#{choice_fields.object.id}]", true %>
                         <%= check_box_tag "content_choices[#{choice_fields.object.id}]", :true %>
                        <%#= choice_fields.check_box :right, :class => 'inline'%>
                      </span>
                      <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                    </div>
                  <% end %>
                <% end %>
            <% end %>
             <br>
          </td>

          <td style="width:50%">

            
            <%= fields_for ct_question do |question_fields| %>
                <div class="input-group">
                <%= question_fields.text_area :question, :readonly => true, size: "65x10",:class=>"form-control" %>
                </div>
                <br>
                <%#= form_tag "edx_view", :method => :post do %>
                <% ct_question.ct_choices.shuffle.each do |ct_choice| %>
                  <%= question_fields.fields_for :ct_choices, ct_choice do |choice_fields| %>
                    <div class="input-group">
                    <%= hidden_field_tag "ct_choices[#{choice_fields.object.id}]", :false %>
                      <span class="input-group-addon" id="check">
                        <%= check_box_tag "ct_choices[#{choice_fields.object.id}]", :true %>
                      </span>
                      <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                    </div>
                  <% end %>
                 <% end %>
                <br>
                <%= hidden_field_tag "state", "answered" %>
                <%= hidden_field_tag "n", n %>
            <% end %>
             <br>
          </td>
        </tr>
      <% elsif state.to_s == "answered" && feedback_quality.to_s == "simple" %>

        <tr>
          <h4> Has tenido un error. Revisa el siguiente feedback.</h4>     
        </tr>

        <tr>
            <td style="width:50%">
              
              <%= fields_for feedback_simple do |feedback_fields| %>
                  <div class="input-group">
                    <%= feedback_fields.text_area :text, :readonly => true, size: "65x5",:class=>"form-control" %>
                  </div>
              <% end %>
               <br>
            </td>
            <%= hidden_field_tag "state", "feedback_seen" %>
            <%= hidden_field_tag "n", (n.to_i+1) %>
        </tr>
        <!-- inicio pregunta en feedback -->
        <tr>
            <h4> A continuación, tendrás información sobre las opciones que seleccionaste. Consideralo y vuelve a responder la pregunta </h4>      
        </tr>
        <tr>
          <td style="width:50%">            
            <%= fields_for content_question do |question_fields| %>
                <div class="input-group">
                  <%= question_fields.text_area :question, :readonly => true, size: "65x10",:class=>"form-control" %>
                </div>
                  <br>
                  <%#= form_tag "edx_view", :method => :post do %>
                  <% content_choices.each do |key, bool| %>
                    <% content_choice = content_question.content_choices.find(key) %>
                    <%= question_fields.fields_for :content_choices, content_choice do |choice_fields| %>           
                      <% if choice_fields.object.right && content_choices[choice_fields.object.id.to_s] == "true" %>
                        <div class="input-group has-success">
                          <span class="input-group-addon" id="check">
                            <%= check_box "", "", {disabled: true, checked: true} %>
                          </span>
                          <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        </div>                       
                      <% elsif  choice_fields.object.right == false && content_choices[choice_fields.object.id.to_s] == "true" %>
                        <div class="input-group has-error">
                          <span class="input-group-addon" id="check">
                            <%= check_box "", "", {disabled: true, checked: true} %>
                          </span>
                          <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" aria-hidden="true"></span>
                        </div>
                      <% end %>
                      
                        <% if type.to_s != "initial" && n.to_i == 0 %>
                          <% if  content_choices[choice_fields.object.id.to_s] == "false" %>
                            <div class="input-group">
                              <span class="input-group-addon" id="check">
                                <%= check_box "", "", {disabled: true, checked: false} %>
                              </span>
                              <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                              <span></span>
                            </div>
                          <% end %>
                        <% else %>
                          <% if  choice_fields.object.right == false && content_choices[choice_fields.object.id.to_s] == "false" %>
                            <div class="input-group has-success">
                              <span class="input-group-addon" id="check">
                                <%= check_box "", "", {disabled: true, checked: false} %>
                              </span>
                              <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            </div>
                          <% elsif  choice_fields.object.right == true && content_choices[choice_fields.object.id.to_s] == "false" %>
                            <div class="input-group has-error">
                              <span class="input-group-addon" id="check">
                                <%= check_box "", "", {disabled: true, checked: false} %>
                              </span>
                              <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            </div>
                          <% end %>
                        <% end %> 
                    <% end %>                  
                  <% end %>
            <% end %>
             <br>
          </td>

          <td style="width:50%">

            
            <%= fields_for ct_question do |question_fields| %>
                <div class="input-group">
                  <%= question_fields.text_area :question, :readonly => true, size: "65x10",:class=>"form-control" %>
                </div>
                  <br>
                  <%#= form_tag "edx_view", :method => :post do %>
                  <% ct_choices.each do |key, bool| %>
                    <% ct_choice = ct_question.ct_choices.find(key) %>
                  <%= question_fields.fields_for :ct_choices, ct_choice do |choice_fields| %>
                    <% if choice_fields.object.right && ct_choices[choice_fields.object.id.to_s] == "true" %>  
                      <div class="input-group has-success">
                        <span class="input-group-addon" id="check">
                          <%= check_box "", "", {disabled: true, checked: true} %>
                        </span>
                        <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      </div> 
                    <% elsif  choice_fields.object.right == false && ct_choices[choice_fields.object.id.to_s] == "true" %>
                      <div class="input-group has-error">
                        <span class="input-group-addon" id="check">
                          <%= check_box "", "", {disabled: true, checked: true} %>
                        </span>
                        <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" aria-hidden="true"></span>
                      </div>
                  <% end %>
                    
                      <% if type.to_s != "initial" && n.to_i == 0 %>
                        <% if  ct_choices[choice_fields.object.id.to_s] == "false" %>
                          <div class="input-group">
                            <span class="input-group-addon" id="check">
                              <%= check_box "", "", {disabled: true, checked: false} %>
                            </span>
                            <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                            <span></span>
                          </div>
                        <% end %>
                      <% else %>
                        <% if  choice_fields.object.right == false && ct_choices[choice_fields.object.id.to_s] == "false" %>
                          <div class="input-group has-success">
                            <span class="input-group-addon" id="check">
                              <%= check_box "", "", {disabled: true, checked: false} %>
                            </span>
                            <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                          </div>
                        <% elsif  choice_fields.object.right == true && ct_choices[choice_fields.object.id.to_s] == "false" %>
                          <div class="input-group has-error">
                            <span class="input-group-addon" id="check">
                              <%= check_box "", "", {disabled: true, checked: false} %>
                            </span>
                            <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>                    
                <br>
             <% end %>
             <br>
          </td>
        </tr>
         <!-- fin pregunta en feedback -->
      <% elsif state.to_s == "answered" && feedback_quality.to_s == "complex" %> 

          <tr>
            <h4> Has tenido un error. Revisa el siguiente feedback. </h4>      
          </tr>         
          <tr>
              <td style="width:50%">
                <%= fields_for feedback_complex do |feedback_fields| %>
                    <div class="input-group">
                      <%= feedback_fields.text_area :text, :readonly => true, size: "65x5",:class=>"form-control" %>
                    </div>
                    <br>
                    
                 <% end %>
                
              </td>
          </tr>
          <%= hidden_field_tag "state", "feedback_seen" %>
          <%= hidden_field_tag "n", (n.to_i+1) %>
          <tr>
            <h4> A continuación, tendrás información sobre las opciones que seleccionaste. Consideralo y vuelve a responder la pregunta </h4>      
          </tr>
          <tr>
            <td style="width:50%">            
              <%= fields_for content_question do |question_fields| %>
                  <div class="input-group">
                    <%= question_fields.text_area :question, :readonly => true, size: "65x10",:class=>"form-control" %>
                  </div>
                    <br>
                    <%#= form_tag "edx_view", :method => :post do %>
                    <% content_choices.each do |key, bool| %>
                    <% content_choice = content_question.content_choices.find(key) %>
                    <%= question_fields.fields_for :content_choices, content_choice do |choice_fields| %>                  
                      <% if choice_fields.object.right && content_choices[choice_fields.object.id.to_s] == "true" %>  
                        <div class="input-group has-success">
                          <span class="input-group-addon" id="check">
                            <%= check_box "", "", {disabled: true, checked: true} %>
                          </span>
                          <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        </div>
                      <% elsif  choice_fields.object.right == false && content_choices[choice_fields.object.id.to_s] == "true" %>
                        <div class="input-group has-error">
                          <span class="input-group-addon" id="check">
                            <%= check_box "", "", {disabled: true, checked: true} %>
                          </span>
                          <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        </div>
                      <% end %>
                    
                      <% if type.to_s != "initial" && n.to_i == 0 %>
                        <% if  content_choices[choice_fields.object.id.to_s] == "false" %>
                          <div class="input-group">
                            <span class="input-group-addon" id="check">
                              <%= check_box "", "", {disabled: true, checked: false} %>
                            </span>
                            <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                            <span></span>
                          </div>
                        <% end %>
                      <% else %>
                        <% if  choice_fields.object.right == false && content_choices[choice_fields.object.id.to_s] == "false" %>
                          <div class="input-group has-success">
                            <span class="input-group-addon" id="check">
                              <%= check_box "", "", {disabled: true, checked: false} %>
                            </span>
                            <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                          </div>
                        <% elsif  choice_fields.object.right == true && content_choices[choice_fields.object.id.to_s] == "false" %>
                          <div class="input-group has-error">
                            <span class="input-group-addon" id="check">
                              <%= check_box "", "", {disabled: true, checked: false} %>
                            </span>
                            <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
              <% end %>
               <br>
            </td>

            <td style="width:50%">

              
              <%= fields_for ct_question do |question_fields| %>
                  <div class="input-group">
                    <%= question_fields.text_area :question, :readonly => true, size: "65x10",:class=>"form-control" %>
                  </div>
                    <br>
                    <%#= form_tag "edx_view", :method => :post do %>
                    <% ct_choices.each do |key, bool| %>
                    <% ct_choice = ct_question.ct_choices.find(key) %>
                    <%= question_fields.fields_for :ct_choices, ct_choice do |choice_fields| %>
                      <% if choice_fields.object.right && ct_choices[choice_fields.object.id.to_s] == "true" %>  
                        <div class="input-group has-success">
                          <span class="input-group-addon" id="check">
                            <%= check_box "", "", {disabled: true, checked: true} %>
                          </span>
                          <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        </div>
                      <% elsif  choice_fields.object.right == false && ct_choices[choice_fields.object.id.to_s] == "true" %>
                        <div class="input-group has-error">
                          <span class="input-group-addon" id="check">
                            <%= check_box "", "", {disabled: true, checked: true} %>
                          </span>
                          <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        </div>
                      <% end %>
                    
                      <% if type.to_s != "initial" && n.to_i == 0%>
                        <% if  ct_choices[choice_fields.object.id.to_s] == "false" %>
                          <div class="input-group">
                            <span class="input-group-addon" id="check">
                              <%= check_box "", "", {disabled: true, checked: false} %>
                            </span>
                            <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                            <span></span>
                          </div>
                        <% end %>
                      <% else %>
                        <% if  choice_fields.object.right == false && ct_choices[choice_fields.object.id.to_s] == "false" %>
                          <div class="input-group has-success">
                            <span class="input-group-addon" id="check">
                              <%= check_box "", "", {disabled: true, checked: false} %>
                            </span>
                            <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                          </div>
                        <% elsif  choice_fields.object.right == true && ct_choices[choice_fields.object.id.to_s] == "false" %>
                          <div class="input-group has-error">
                            <span class="input-group-addon" id="check">
                              <%= check_box "", "", {disabled: true, checked: false} %>
                            </span>
                            <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <br>
               <% end %>
               <br>
            </td>
          </tr>

      <% elsif state.to_s == "answered" && feedback_quality.to_s == "none" %>  
        <h4>A continuación se te presentan las respuestas finales</h4>
        <tr>
          <td style="width:50%">            
            <%= fields_for content_question do |question_fields| %>
                <div class="input-group">
                  <%= question_fields.text_area :question, :readonly => true, size: "65x10",:class=>"form-control" %>
                </div>
                  <br>
                  <%#= form_tag "edx_view", :method => :post do %>
                  <% content_choices.each do |key, bool| %>
                    <% content_choice = content_question.content_choices.find(key) %>
                  <%= question_fields.fields_for :content_choices, content_choice do |choice_fields| %>                    
                    <% if choice_fields.object.right && content_choices[choice_fields.object.id.to_s] == "true" %>  
                      <div class="input-group has-success">
                        <span class="input-group-addon" id="check">
                          <%= check_box "", "", {disabled: true, checked: true} %>
                        </span>
                        <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      </div>
                    <% elsif  choice_fields.object.right == false && content_choices[choice_fields.object.id.to_s] == "true" %>
                      <div class="input-group has-error">
                        <span class="input-group-addon" id="check">
                          <%= check_box "", "", {disabled: true, checked: true} %>
                        </span>
                        <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      </div>
                      <% elsif  choice_fields.object.right == false && content_choices[choice_fields.object.id.to_s] == "false" %>
                      <div class="input-group has-success">
                        <span class="input-group-addon" id="check">
                          <%= check_box "", "", {disabled: true, checked: false} %>
                        </span>
                        <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      </div>
                    <% elsif  choice_fields.object.right == true && content_choices[choice_fields.object.id.to_s] == "false" %>
                      <div class="input-group has-error">
                        <span class="input-group-addon" id="check">
                          <%= check_box "", "", {disabled: true, checked: false} %>
                        </span>
                        <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
            <% end %>
             <br>
          </td>

          <td style="width:50%">

            
            <%= fields_for ct_question do |question_fields| %>
                <div class="input-group">
                  <%= question_fields.text_area :question, :readonly => true, size: "65x10",:class=>"form-control" %>
                </div>
                  <br>
                  <%#= form_tag "edx_view", :method => :post do %>
                  <% ct_choices.each do |key, bool| %>
                    <% ct_choice = ct_question.ct_choices.find(key) %> 
                  <%= question_fields.fields_for :ct_choices, ct_choice do |choice_fields| %>
                    <% if choice_fields.object.right && ct_choices[choice_fields.object.id.to_s] == "true" %>  
                      <div class="input-group has-success">
                        <span class="input-group-addon" id="check">
                          <%= check_box "", "", {disabled: true, checked: true} %>
                        </span>
                        <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      </div>
                    <% elsif  choice_fields.object.right == false && ct_choices[choice_fields.object.id.to_s] == "true" %>
                      <div class="input-group has-error">
                        <span class="input-group-addon" id="check">
                          <%= check_box "", "", {disabled: true, checked: true} %>
                        </span>
                        <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      </div>
                    <% elsif  choice_fields.object.right == false && ct_choices[choice_fields.object.id.to_s] == "false" %>
                      <div class="input-group has-success">
                        <span class="input-group-addon" id="check">
                          <%= check_box "", "", {disabled: true, checked: false} %>
                        </span>
                        <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      </div>
                    <% elsif  choice_fields.object.right == true && ct_choices[choice_fields.object.id.to_s] == "false" %>
                      <div class="input-group has-error">
                        <span class="input-group-addon" id="check">
                          <%= check_box "", "", {disabled: true, checked: false} %>
                        </span>
                        <%= choice_fields.text_field :text, :readonly => true, :class => "form-control" %>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
                <br>
             <% end %>
             <br>
          </td>
          <%= hidden_field_tag "state", "answered" %>
          <%= hidden_field_tag "n", n %>
        </tr>

      <% elsif state.to_s == "end"  %>          
          <tr>
              <td style="width:50%">
                <h4>Respuestas guardadas, Gracias!</h4>
                
              </td>
          </tr>
          <%= hidden_field_tag "state", "end" %>
      <% end %>

  </table>

  <%= hidden_field_tag "type", type %>
  <%= hidden_field_tag "course_id", @course.id %>
  <%= hidden_field_tag "id", @tree.id %>


   <%#= link_to 'Revisar', [@course, @tree, {:type =>'recuperative'}], method: :post, :class => "btn btn-default" %>
   <%#= link_to 'Revisar2', :action => "decide" , :course_id => @course.id, :id => @tree.id, :type =>'recuperative', method: :post, :class => "btn btn-default" %>
   <%if  state.to_s == "not_seen" %>
    <%= submit_tag "Confirmar", class: "btn btn-default" %>
   <%elsif state.to_s == "answered" && type.to_s == "initial" && feedback_quality.to_s == "none"  %>  
    <%= submit_tag "Pasar a pregunta de profundización", class: "btn btn-default" %>
   <%elsif state.to_s == "answered" && type.to_s == "initial"  %>  
    <%= submit_tag "Pasar a pregunta recuperativa", class: "btn btn-default" %>
   <%elsif state.to_s == "answered" && type.to_s == "recuperative" && feedback_quality.to_s == "none" %>
    <%= submit_tag "Pasar a pregunta de profundización", class: "btn btn-default" %>
   <%elsif state.to_s == "answered" && type.to_s == "recuperative" && n.to_i == 0 %>  
    <%= submit_tag "Intentar otra vez", class: "btn btn-default" %>
   <%elsif state.to_s == "answered" && type.to_s == "recuperative" && n.to_i == 1 %>   
    <%= submit_tag "Pasar a pregunta de profundización", class: "btn btn-default" %>
   <%elsif state.to_s == "answered" && type.to_s == "deeping" && n.to_i == 0 %>   
    <%= submit_tag "Intentar otra vez", class: "btn btn-default" %>
   <%elsif state.to_s == "answered" && type.to_s == "recuperative" && n.to_i == 1 %>   
    <%= submit_tag "Pasar a pregunta de profundización", class: "btn btn-default" %>
   <% else %>
    <%= link_to "Finalizar evaluación", eval_form_path(@course.id), class: "btn btn-default" %>
   <% end %> 
   <br></br>

<% end %>