<%= simple_form_for([@course,@tree]) do |f| %>
  <% if @tree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tree.errors.count, "error") %> prohibited this tree from being saved:</h2>

      <ul>
      <% @tree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

</br>
<h2>Usuario conectado: <%= @username %></h2> 

<%= f.fields_for :content do |content_fields| %>
      <!--div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
      </div-->
      <div class="input-group">
        <%= content_fields.label :content, 'Contenido', :class => "input-group-addon" %>
        <%= content_fields.label :text, 'Tipos de tareas',:class=>"form-control", :placeholder=>"Contenido del Video" %>
      </div>
    <% end %>

    <br>

   

<table style="width:100%">
    <tr>
      <td>
      <%= f.fields_for :initial_content_question do |builder1| %>

        <label for="basic-url">Pregunta inicial de contenido (1.1)</label>
        <%= builder1.label :question, "El tipo de tarea es:" %>
        <br>
        <%= builder1.fields_for :content_choices do |builder11| %>
          <div class="input-group">
            <span class="input-group-addon" id="check">
              <%= builder11.check_box :right, :class => 'inline'%>
            </span>
            <%= builder11.label :text, "Alternativa Y", :class => "form-control" %>
          </div>
        <% end %>
      <% end %>
      </td>
      <td>
        <%= f.fields_for :initial_ct_question do |builder2| %>

        <label for="basic-url">Pregunta inicial de pensamiento crítico (1.1)</label>
        <%= builder2.label :question, "Porque..." %>
        <br>
        <%= builder2.fields_for :ct_choices do |builder22| %>
          <div class="input-group">
            <span class="input-group-addon" id="check">
              <%= builder22.check_box :right, :class => 'inline'%>
            </span>
            <%= builder22.label :text, "Alternativa X", :class => "form-control" %>
          </div>
        <% end %>
      <% end %>
      </td>
    </tr>
</table>

<br>
 <button type="button" class="btn btn-default">Contiuar</button>

<% end %>