<p id="notice"><%= notice %></p>

<h1>Listing Trees</h1>

<table>
  <thead>
    <tr>
      <th>Video</th>
      <th>Iterations</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trees.each do |tree| %>
      <tr>
        <td><%= tree.video %></td>
        <td><%= tree.iterations %></td>
        <td><%= tree.course %></td>
        <td><%= link_to 'Ver', tree %></td>
        <td><%= link_to 'Editar', edit_tree_path(tree) %></td>
        <td><%= link_to 'Eliminar', tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear árbol', new_tree_path %>
