<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @tree.video %>
</p>

<div>
	<strong>Pregunta inicial</strong>
	<div class="row">
		<% render: @tree.content_quiestions %>
		<% render: @tree.ct_quiestions %>
	</div>
</div>

<p>
  <strong>Iterations:</strong>
  <%= @tree.iterations %>
</p>


<%= link_to 'Edit', edit_tree_path(@tree) %> |
<%= link_to 'Back', trees_path %>
