<p id="notice"><%= notice %></p>


<legend><%= @tree.content.text %></legend>
<legend>Video: <%= @tree.video %></legend>

<p>
  <strong>Pregunta Inicial Contenido (1.1)</strong>
  <%= @tree.initial_content_question.question %>
</p>

<p>
  <strong>Pregunta Inicial_Pensamiento Crítico (1.1)</strong>
  <%= @tree.initial_ct_question.question %>
</p>

<p>
  <strong>Pregunta Recuperativa Contenido (1.2)</strong>
  <%= @tree.recuperative_content_question.question %>
</p>
	 

<p>
  <strong>Pregunta Recuperativa Pensamiento Crítico (1.2)</strong>
  <%= @tree.recuperative_ct_question.question %>
</p>
	 


<p>
  <strong>Pregunta Profundización Contenido (2.0)</strong>
  <%= @tree.deeping_content_question.question %>
</p>

<p>
  <strong>Pregunta Profundización Pensamiento Crítico (2.0)</strong>
  <%= @tree.deeping_ct_question.question %>
</p>
	  

<p>
  <strong>Iterations:</strong>
  <%= @tree.iterations %>
</p>


<%= link_to 'Edit', edit_course_tree_path(@course, @tree) %> |
<%= link_to 'Back', course_path(@course) %>
