<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @tree.video %>
</p>

<p>
  <strong>Course:</strong>
  <%= @tree.course %>
</p>

<%= link_to 'Edit', edit_tree_path(@tree) %> |
<%= link_to 'Back', trees_path %>
