<p id="notice"><%= notice %></p>



<div>
	<form class="form-horizontal">
	  <fieldset>
	    <legend><%=@tree.content.text %></legend>
	    <p><strong>Video: </strong><%= @tree.video %></p>
	    <div>
	      <%= render @tree.content_questions %><br> 
	    </div>

 	  </fieldset>
    </form>
</div>

<p>
  <strong>Iterations:</strong>
  <%= @tree.iterations %>
</p>


<%= link_to 'Edit', edit_tree_path(@tree) %> |
<%= link_to 'Back', trees_path %>
