<% if current_user.role?%>
  <h3>Detalle de <%= @the_user.first_name + " " + @the_user.last_name%> en evaluaci贸n de <%= @tree.content.text %></h3>
  <h5>Tiempo de inicio de arbol: <%= @user_performance.start_tree_time%></h5>
  <h5>Tiempo de fin de arbol: <%= @user_performance.finish_tree_time%></h5>
  <h5>Tiempo total de evaluaci贸n: <%= (@user_performance.finish_tree_time.to_i - @user_performance.start_tree_time.to_i) %> segundos</h5>
  <br>
  <table class="table table-striped">
    <thead class="head">
      <tr>
        <th>Dato</th>
        <th class="tdcenter">Inicio</th>
        <th class="tdcenter">Recuperativa</th>
        <th class="tdcenter">Profundizaci贸n</th>
      </tr>
    </thead>
    <tbody>      
      
      <tr>
        <td>Pregunta de contenido</td>
        <td>
          <% if @user_performance.init_content == 1.0 %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </td>
        <td>
          <% if @user_performance.recuperative_content1 == 1.0 %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
          <% if @user_performance.recuperative_content2 == 1.0 %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </td>
        <td>
          <% if @user_performance.deeping_content1 == 1.0 %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
          <% if @user_performance.deeping_content2 == 1.0 %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Pregunta de argumentaci贸n</td>
        <td>
          <% if @user_performance.init_ct == 1.0 %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </td>
        <td>
          <% if @user_performance.recuperative_ct1 == 1.0 %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
          <% if @user_performance.recuperative_ct2 == 1.0 %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </td>
        <td>
          <% if @user_performance.deeping_ct1 == 1.0 %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
          <% if @user_performance.deeping_ct2 == 1.0 %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Tiempo en pregunta</td>
        <td>
            <%= @user_performance.init_qt_time %>
        </td>
        <td>
            <%= @user_performance.recuperative_qt1_time %>
             /
            <%= @user_performance.recuperative_qt2_time %>
        </td>
        <td>
          <%= @user_performance.deeping_qt1_time %>
            /   
          <%= @user_performance.deeping_qt2_time %>          
        </td>
      </tr>

      <tr>
        <td>Tiempo en feedback</td>
        <td>
            <%= @user_performance.init_fb_time %>
        </td>
        <td>
            <%= @user_performance.recuperative_fb1_time %>
             /
            <%= @user_performance.recuperative_fb2_time %>
        </td>
        <td>
          <%= @user_performance.deeping_fb1_time %>
            /   
          <%= @user_performance.deeping_fb2_time %>          
        </td>
      </tr>        
     
    </tbody>
  </table>
<% end %>
