
<% puts "estoy en el form" %>
<div style="text-align: center">
    <%= form_for([@homework, @question, @answer], html: { multipart: true }) do |f| %>
      <% if @answer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
          <ul>
          <% @answer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <form class="form-horizontal">

          <div class="form-group">
            <label for="question" class="col-sm-9 control-label"></label>
            <div class="col-sm-offset-4">
              <div class="col-xs-6">
                <%= f.text_area :content, cols: 40, rows: 5, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta' %>
                <br></br>
                <%= f.file_field :image, id:"i_answer" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="span4">
                <div class="spacer10"></div>
            </div>
          </div>
          <br></br>

          <div class="form-group" id= "sub">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="actions">
                <%= f.submit :'Enviar Respuesta', :class=>"btn btn-primary", :style=>'color:white' %>
              </div>
            </div>
          </div>
      </form>
    <% end %>
</div>
