
<div style="text-align: left">
    <%= form_for([@homework, @answer], html: { multipart: true }) do |f| %>
      <% if @answer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
          <ul>
          <% @answer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <form class="form-horizontal">
          <% @actual_phase = ""%>
          <% if ["responder", "responder_2"].include? @homework.actual_phase%>
            <% @actual_phase = "Responder" %>
          <% elsif ["argumentar", "argumentar_2"].include? @homework.actual_phase%>
            <% @actual_phase = "Argumentar" %>
          <% elsif ["rehacer", "rehacer_2"].include? @homework.actual_phase%>
            <% @actual_phase = "Rehacer" %>
          <% end %>
          <div class="form-group">
            <label for="question" class="col-sm-9 control-label" style="font-size:25px"><%= @actual_phase %></label>
            <div class="col-xs-6">
              <% if @homework.actual_phase == "responder"%>
                <%= f.text_area :responder, cols: 40, rows: 15, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta' %>
              <% elsif @homework.actual_phase == "argumentar"%>
                <%= f.text_area :argumentar, cols: 40, rows: 15, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta' %>
              <% elsif @homework.actual_phase == "rehacer"%>
                <%= f.text_area :rehacer, cols: 40, rows: 15, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta' %>
              <% elsif @homework.actual_phase == "responder_2"%>
                <%= f.text_area :responder_2, cols: 40, rows: 15, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta' %>
              <% elsif @homework.actual_phase == "argumentar_2"%>
                <%= f.text_area :argumentar_2, cols: 40, rows: 15, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta' %>
              <% elsif @homework.actual_phase == "rehacer_2"%>
                <%= f.text_area :rehacer_2, cols: 40, rows: 15, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta' %>
              <% end %>
              <br>
            </div>
          </div>

          <div class="form-group">
            <label for="question" class="col-sm-9 control-label" style="font-size:25px">Imagen</label>
            <div class="col-xs-6">
              <% if @homework.actual_phase == "responder"%>
                <%= f.file_field :image_responder, id:"i_answer"%>
              <% elsif @homework.actual_phase == "argumentar"%>
                <%= f.file_field :image_argumentar, id:"i_answer"%>
              <% elsif @homework.actual_phase == "rehacer"%>
                <%= f.file_field :image_rehacer, id:"i_answer"%>
              <% elsif @homework.actual_phase == "responder_2"%>
                <%= f.file_field :image_responder_2, id:"i_answer"%>
              <% elsif @homework.actual_phase == "argumentar_2"%>
                <%= f.file_field :image_argumentar_2, id:"i_answer"%>
              <% elsif @homework.actual_phase == "rehacer_2"%>
                <%= f.file_field :image_rehacer_2, id:"i_answer"%>
              <% end %>
              <br>
            </div>
          </div>

          <div class="row">
            <div class="span4">
                <div class="spacer10"></div>
            </div>
          </div>
          <br></br>

          <div class="form-group" id= "sub">
            <div class="col-sm-offset-2 col-sm-8">
              <div class="actions">
                <%= f.submit :'Enviar Respuesta', :class=>"btn btn-primary", :style=>'color:white' %>
              </div>
            </div>
          </div>
      </form>
    <% end %>
</div>
