
<div style="text-align: left">
    <%= form_for([@homework, @answer], html: { multipart: true }) do |f| %>
      <% if @answer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
          <ul>
          <% @answer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <form class="form-horizontal">
          <% @actual_phase = ""%>
          <% if ["responder"].include? @homework.actual_phase%>
            <% @actual_phase = "Responder" %>
          <% elsif ["argumentar"].include? @homework.actual_phase%>
            <% @actual_phase = "Argumentar" %>
          <% elsif ["rehacer"].include? @homework.actual_phase%>
            <% @actual_phase = "Rehacer" %>
          <% elsif ["evaluar"].include? @homework.actual_phase%>
            <% @actual_phase = "Evaluar" %>
          <% elsif ["integrar"].include? @homework.actual_phase%>
            <% @actual_phase = "Integrar" %>
          <% end %>
          <h3 for="question" class="col-sm-9 control-label"><%= @actual_phase %></h3>
          <div class="form-group">
            <div class="col-sm-10 col-md-10 col-lg-10">
              <% if @homework.actual_phase == "responder"%>
                <%= f.text_area :responder, cols: 40, rows: 15, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta', style:"font-size:15px; line-height:1.5" %>
              <% elsif @homework.actual_phase == "argumentar"%>
                <%= f.text_area :argumentar, cols: 40, rows: 15, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta', style:"font-size:15px; line-height:1.5" %>
              <% elsif @homework.actual_phase == "rehacer"%>
                <%= f.text_area :rehacer, cols: 40, rows: 15, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta', style:"font-size:15px; line-height:1.5" %>
              <% elsif @homework.actual_phase == "evaluar"%>
                <%= f.text_area :evaluar, cols: 40, rows: 15, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta', style:"font-size:15px; line-height:1.5" %>
              <% elsif @homework.actual_phase == "integrar"%>
                <%= f.text_area :integrar, cols: 40, rows: 15, id:"answer", class:"form-control", placeholder: 'Ingrese respuesta', style:"font-size:15px; line-height:1.5" %>
              <% end %>
              <br>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <% if @homework.actual_phase == "responder"%>
                <%= f.file_field :image_responder_1, style:"display: none;", type:"file", id:"pictureInput_1"%>
                <%= f.file_field :image_responder_2, style:"display: none;", type:"file", id:"pictureInput_2"%>
                <%= render 'form1_responder' %>
              <% elsif @homework.actual_phase == "argumentar"%>
                <%= f.file_field :image_argumentar_1, style:"display: none;", type:"file", id:"pictureInput_1"%>
                <%= f.file_field :image_argumentar_2, style:"display: none;", type:"file", id:"pictureInput_2"%>
                <%= render 'form2_argumentar' %>
              <% elsif @homework.actual_phase == "rehacer"%>
                <%= f.file_field :image_rehacer_1, style:"display: none;", type:"file", id:"pictureInput_1"%>
                <%= f.file_field :image_rehacer_2, style:"display: none;", type:"file", id:"pictureInput_2"%>
                <%= render 'form3_rehacer' %>
              <% elsif @homework.actual_phase == "evaluar"%>
                <%= f.file_field :image_evaluar_1, style:"display: none;", type:"file", id:"pictureInput_1"%>
                <%= f.file_field :image_evaluar_2, style:"display: none;", type:"file", id:"pictureInput_2"%>
                <%= render 'form4_evaluar'%>
              <% elsif @homework.actual_phase == "integrar"%>
                <%= f.file_field :image_integrar_1, style:"display: none;", type:"file", id:"pictureInput_1"%>
                <%= f.file_field :image_integrar_2, style:"display: none;", type:"file", id:"pictureInput_2"%>
                <%= render 'form5_integrar'%>
              <% end %>
              <br>
            </div>
          </div>

          <div class="row">
            <div class="span4">
                <div class="spacer10"></div>
            </div>
          </div>
          <br></br>

          <div class="actions">
            <%= f.submit :'Enviar Respuesta', :class=>"btn btn-primary", :style=>'color:white' %>
          </div>
      </form>
    <% end %>
</div>
