<div style="text-align: center">
	<% if @homework.upload %>
		<h3><%= @homework.content %></h3>
		<% if @homework.image? %>
			<p><%= image_tag @homework.image.url(:medium) %></p>
		<% end %>

		<% if @homework.actual_phase == "argumentar"%>
			<br>
			<h4><%= "En base a la siguiente respuesta discuta y argumente su contenido:" %></h4>
			<% if @partner_answer.responder != nil%>
				<em><h4><%= "\"" + @partner_answer.responder + "\"" %></h4></em>
			<% end %>
			<% if @partner_answer.image_responder? %>
				<p><%= image_tag @partner_answer.image_responder.url(:medium) %></p>
			<% end %>
		<% elsif @homework.actual_phase == "rehacer"%>
			<br>
			<h4><%= "Su primera respuesta: \n"  %></h4>
			<% if @answer.responder != nil %>
				<em><h4><%="\"" + @answer.responder + "\""%></h4></em>
			<% end %>
			<% if @answer.image_responder? %>
				<p><%= image_tag @answer.image_responder.url(:medium) %></p>
			<% end %>
			<br>
			<h4><%= "Argumentación: \n"%></h4>
			<% if @partner_answer.argumentar != nil %>
				<em><h4><%=@partner_answer.argumentar %></h4></em>
			<% end %>
			<% if @partner_answer.image_argumentar? %>
				<p><%= image_tag @partner_answer.image_argumentar.url(:medium) %></p>
			<% end %>
			<br>
			<h3><%= "En base a la argumentación de su compañero, reestructure nuevamente su respuesta:" %></h3>
		<% end %>
		<%= render 'form' %>
	<%end%>
</div>
