<div style="text-align: left">
	<% if @homework.upload %>
		<h3><%= @homework.content %></h3>
		<% if @homework.image? %>
			<p><%= image_tag @homework.image.url(:medium) %></p>
		<% end %>
		<% if @partner_answer != nil && @my_answer != nil %>
			<br>
			<% if @homework.actual_phase != "responder" %>
				<h4><%= "Respuesta: \n"  %></h4>
				<% if @my_answer.responder != nil %>
					<em><h4><%="\"" + @my_answer.responder + "\""%></h4></em>
				<% end %>
				<% if @my_answer.image_responder? %>
					<p><%= image_tag @my_answer.image_responder.url(:medium) %></p>
				<% end %>
				<br>
				<% if @homework.actual_phase != "argumentar" %>
					<b><h4><%= "Argumentación: \n"%></h4></b>
					<% if @partner_answer.argumentar != nil %>
						<em><h4><%=@partner_answer.argumentar %></h4></em>
					<% end %>
					<% if @partner_answer.image_argumentar? %>
						<p><%= image_tag @partner_answer.image_argumentar.url(:medium) %></p>
					<% end %>
					<br>
					<% if @homework.actual_phase != "rehacer" %>
						<h4><%= "Refacción: \n"  %></h4>
						<% if @my_answer.rehacer != nil %>
							<em><h4><%="\"" + @my_answer.rehacer + "\""%></h4></em>
						<% end %>
						<% if @my_answer.image_rehacer? %>
							<p><%= image_tag @my_answer.image_rehacer.url(:medium) %></p>
						<% end %>
						<br>
						<% if @homework.actual_phase != "evaluar" %>
							<h4><%= "Evaluación: \n"%></h4>
							<% if @partner_answer.evaluar != nil %>
								<em><h4><%=@partner_answer.evaluar %></h4></em>
							<% end %>
							<% if @partner_answer.image_evaluar? %>
								<p><%= image_tag @partner_answer.image_evaluar.url(:medium) %></p>
							<% end %>
						<% end %>
					<% end %>
				<%end%>
			<%end%>
		<%end%>
		<br>
		<%= render 'form' %>
	<%end%>
</div>
