<div style="text-align: left">
	<% if @homework.upload %>
		<div class="thumbnail">
			<%= render 'pregunta' %>
		</div>
		<div class="thumbnail">
		<% if @partner_answer != nil && @my_answer != nil %>
			<% if @homework.actual_phase != "responder" %>
				<%= render 'responder' %>
				<% if @homework.actual_phase != "argumentar" %>
					<%= render 'argumentar' %>
					<% if @homework.actual_phase != "rehacer" %>
						<%= render 'rehacer' %>
						<% if @homework.actual_phase != "evaluar" %>
							<%= render 'evaluar' %>
							<% if @homework.actual_phase != "integrar" %>
								<%= render 'integrar' %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		<%= render 'form' %>
		</div>
	<%end%>
</div>
