
<meta http-equiv="refresh" content="15" />


<h2>Debe esperar para la siguiente etapa.</h2>
<% @homework = Homework.where(id:params["homework_id"])[0]%>
<div style="text-align:left">
	<br>
	<div class="thumbnail">
		<%= render 'part0_pregunta' %>
	</div>
	<div style="text-align: left">
		<% if @my_answer != nil || @partner_answer != nil %>
		<div class="thumbnail">
			<%= render 'part1_responder' %>
				<br>
				<% if @homework.actual_phase != "responder" %>
					<%= render 'part2_argumentar' %>
					<br>
					<% if @homework.actual_phase != "argumentar" %>
						<%= render 'part3_rehacer' %>
						<br>
						<% if @homework.actual_phase != "rehacer" %>
							<%= render 'part4_evaluar' %>
							<br>
							<% if @homework.actual_phase != "evaluar" %>
								<%= render 'part5_integrar' %>
							<%end%>
						<%end%>
					<%end%>
			<%end%>
		<%end%>
		<br>

	  <br></br>
		<%= form_tag controller:"homeworks", method:"get" do %>
	    <%= fields_for 'actualizar', @homework do |p| %>
				<%= p.hidden_field  :homework, value:@homework.id, class:"form-control" %>
				<%= p.hidden_field  :phase, value:@homework.actual_phase, class:"form-control" %>
				<% if @homework.upload%>
	      	<%= submit_tag "Editar Respuesta", name: 'tag_in_index', class: "btn btn-primary", action:"show", style:"height:35px; width:130px"%>
				<%end%>
			<%end%>
	  <%end%>
		<br></br>



	  <br></br>
	</div>
</div>
