<div style="text-align: center">
	<% if @homework.upload %>
	<h3><%= @homework.content %></h3>
	<% if @homework.image? %>
		<p><%= image_tag @homework.image.url(:medium) %></p>
	<% end %>


	<% partner = User.find_by_id(current_user.partner_id) %>
	<% if partner != nil %>
		<% p_answers = partner.answers %>
		<% answer = p_answers.find_by_question_id(@question.anterior) %>

		<% if (@question.phase == "responder" || answer != nil) && @question.phase == @homework.actual_phase%>
			<% if @question.phase == "argumentar" && answer != nil%>
				<h4><%= "En base a la respuesta de %s %s, discuta y argumente su contenido:" % [partner.first_name, partner.last_name] %></h4>
					<em><h4><%= "\"" + answer.content + "\"" %></h4></em>
				<% if answer.image? %>
					<p><%= image_tag answer.image.url(:medium) %></p>
				<% end %>
			<% elsif @question.phase == "rehacer" && answer != nil%>
				<% my_answers = current_user.answers %>
				<% ant = Question.find_by_id(@question.anterior) %>
				<% my_ans = my_answers.find_by_question_id(ant.anterior) %>
				<br>
				<h4><%= "Su primera respuesta: \n"  %></h4>
				<em><h4><%="\"" + my_ans.content + "\""%></h4></em>
				<% if my_ans.image? %>
					<p><%= image_tag my_ans.image.url(:medium) %></p>
				<% end %>
				<br>
				<h4><%= "Feedback y argumentación de %s %s: \n" % [partner.first_name, partner.last_name] %></h4>
				<em><h4><%=answer.content %></h4></em>
				<% if answer.image? %>
					<p><%= image_tag answer.image.url(:medium) %></p>
				<% end %>
				<br>
				<h3><%= "En base al feedback y argumentación de su compañero, reestructure nuevamente su respuesta:" %></h3>
			<% end%>
			<%= render 'form' %>
		<% else %>
			<h4><%= "FORMULARIO NO DISPONIBLE" %></h4>
		<%end%>
	<% end -%>
<% end %>
</div>
