<p id="notice"><%= notice %></p>

<p>
  <strong>Pregunta:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Respuesta</strong>
  <%= @answer.content %>
</p>

<%= link_to 'Editar', edit_homework_question_answer_path(@homework, @question, @answer) %> |
<%= link_to 'Atrás', homework_questions_path(@homework) %>
