<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ct_hability.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ct_hability.description %>
</p>

<%= link_to 'Edit', edit_ct_hability_path(@ct_hability) %> |
<%= link_to 'Back', ct_habilities_path %>
