<%= form_for(@homework) do |f| %>

  <% if @homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
      <% @homework.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="ac_name" class="col-sm-9 control-label">Nombre</label>
      <div class="col-sm-offset-4">
        <div class="col-xs-6">
          <%= f.text_field :name, id:"ac_name", class:"form-control", placeholder: 'Ingrese nombre de la actividad' %>
          <br>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="ac_content" class="col-sm-9 control-label">Pregunta</label>
      <div class="col-sm-offset-4">
        <div class="col-xs-6">
          <%= f.text_area :content, cols: 40, rows: 5, id:"ac_content", class:"form-control", placeholder: 'Ingrese pregunta de la actividad' %>
          <br>
          <%= f.file_field :image, id:"i_homework"%>
          <br>
        </div>
      </div>
    </div>



    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="actions">
          <%= f.submit :'Aceptar', :class=>"btn btn-primary", :style=>'color:white' %>
        </div>
      </div>
    </div>
  </form>
<% end %>
