<%- if current_user.role?%>
  <h1>Actividades</h1>
  <br></br>
  <%= link_to 'Crear Actividad', new_homework_path, :class=>"btn btn-primary", :style=>'color:white' %>
  <br></br>
  <br></br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre Actividad</th>
        <th>Pregunta Actividad</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
      <% @homeworks.each do |homework| %>
        <tr>
            <td><%= homework.name %></td>
            <% if homework.content.length > 30%>
              <td><%= homework.content[0,40] %>...</td>
            <% else %>
              <td><%= homework.content%></td>
            <% end -%>

            <td><%= button_to "Comenzar Actividad", homework_path(homework), class:"btn btn-primary btn-xs", style:'color:white'%></td>
            <td><%= link_to "Ver/Editar", edit_homework_path(homework), class:"btn btn-primary btn-xs", style:'color:white'%></td>
            <td><%= link_to 'Eliminar', homework,:class=>"btn btn-danger btn-xs", :style=>'color:white', method: :delete, data: { confirm: '¿Estás seguro que desesas eliminar la actividad?' } %></td>        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<div style="text-align: center">
  <%= link_to image_tag('loading_spin.gif', style: "height: 200px; width: 200px") , homeworks_path %>
  <h3> Espera a que el profesor publique la actividad <h3>
</div>
<meta http-equiv="refresh" content="15" />
<% end %>
