 <p id="notice"><%= notice %></p>

<h1>Actividades</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre Actividad</th>
      <th>Fase Actual</th>
      <th>Disponible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homeworks.each do |homework| %>
      <tr>
        <td><%= homework.name %></td>
        <%- if homework.actual_phase == 1%>
            <td><%= "Responder" %></td>
        <%- elsif homework.actual_phase == 2%>
            <td><%= "Argumentar" %></td>
        <%- else%>
            <td><%= "Rehacer" %></td>
        <%- end %>
        <%- if homework.upload?%>
          <td><%= 'Si' %></td>
          <% else %>
          <td><%= 'No' %></td>
        <% end -%>
        <%- if current_user.role?%>
          <td><%= link_to 'Ver Preguntas', homework_questions_path(homework) %></td>
          <td><%= link_to 'Editar', edit_homework_path(homework) %></td>
          <td><%= link_to 'Eliminar', homework, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
        <% else %>
          <td><%= link_to 'Ver Preguntas', homework_questions_path(homework) %></td>
        <% end -%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%- if current_user.role?%>
  <%= link_to 'Crear Actividad', new_homework_path, :class=>"btn btn-primary", :style=>'color:white' %>
<% end %>
