<h1><%= @homework.name %></h1>
<h2><%= @ciclo %> - <%= @etapa %> </h2>
<h3 align="justify">Pregunta</h3>
<%= simple_format(@homework.content, {style:"font-size:20px", align:"justify"}) %>
<%= form_tag controller:"homeworks", action:"change_phase", method:"post" do %>
  <% if @homework.actual_phase == "responder"%> <!-- AQUI VA LA FASE NO ACTIVA -->
    <%= link_to 'Volver Actividades', homeworks_path("volver"),  :class=>"btn btn-primary", :style=>'color:white' %>
  <%else%>
    <%= submit_tag "Etapa Anterior", name: 'previous', class: "btn btn-primary"%>
  <% end %>
  <div class="column">
    <div class="col-sm-70 col-md-5" style="align:center">
      <br>
      <div class="thumbnail">
        <div class="caption">
          <br></br>
          <br></br>
            <%= fields_for 'phase', @homework do |p| %>
              <%= p.hidden_field  :phase, value:@homework.actual_phase, class:"form-control" %>
              <% if current_user.role? && @homework.actual_phase != "rehacer_2"%>
                <div class="actions" style="text-align: center">
                  <% if @homework.upload == true %>
                    <%= submit_tag @siguiente, name: 'next', class: "btn btn-primary", style:"height:75px; width:150px; font-size:20px"%>
                    <%= submit_tag "Discusi贸n", name: 'discussion', class: "btn btn-primary", style:"height:75px; width:150px; font-size:20px"%>
                  <% else%>
                    <%= submit_tag @siguiente, name: 'next', class: "btn btn-primary", style:"height:75px; width:150px; font-size:20px"%>
                    <%= submit_tag "Discusi贸n", name: 'discussion', class: "btn btn-primary", style:"height:75px; width:150px; font-size:20px", disabled:"disabled"%>
                  <%end%>
                </div>
              <% elsif current_user.role? && @homework.actual_phase == "rehacer_2"%>
                <div class="actions" style="text-align: center">
                  <% if @homework.upload == true%>
                    <%= submit_tag "Discusi贸n", name: 'discussion', class: "btn btn-primary", style:"height:75px; width:150px; font-size:20px"%>
                  <% else%>
                    <%= submit_tag "Discusi贸n", name: 'discussion', class: "btn btn-primary", style:"height:75px; width:150px; font-size:20px", disabled:"disabled"%>
                  <% end%>
                </div>
              <%end%>
            <%end%>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
<%end%>


<br></br>
<br></br>
<br></br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Respuesta</th>
    </tr>
  </thead>
  <tbody>
    <% @users.sort_by{|e| e[:last_name]}.each do |user| %>
      <% if user.role == "alumno"%>
      <tr>
        <%= form_tag ':id/studentanswer', action:"answers", method:"get" do %>
          <%= fields_for 'homework', @homework do |p| %>
            <%= p.hidden_field  :homework, value:@homework.id, class:"form-control" %>
            <%= p.hidden_field  :user, value:user.id, class:"form-control" %>
            <td><%= user.last_name%></td>
            <td><%= user.first_name%></td>
            <td><%= submit_tag "Ver Respuesta", class: "btn btn-primary btn-xs", method:"get" %></td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
