
<div style="text-align: left">
	<div style="text-align:left">
		<h1><%= @homework.name %></h1>
		<h2>Etapa: <%= @etapa %></h2>
		<br>
		<%= button_to 'Volver',[@homework], :class=>"btn btn-primary", :style=>'color:white' %>
		<br>
		<div class="thumbnail">
			<%= render 'part0_pregunta' %>
		</div>
	</div>
	<br>
	<% if @my_answer != nil || @partner_answer != nil %>
		<div class="thumbnail">
			<%= render 'part1_responder' %>
				<br>
				<% if @homework.actual_phase != "responder" %>
					<%= render 'part2_argumentar' %>
					<br>
					<% if @homework.actual_phase != "argumentar" %>
						<%= render 'part3_rehacer' %>
						<br>
						<% if @homework.actual_phase != "rehacer" %>
							<%= render 'part4_evaluar' %>
							<br>
							<% if @homework.actual_phase != "evaluar" %>
								<%= render 'part5_integrar' %>
								<br>
							<%end%>
						<%end%>
					<%end%>
			<%end%>
		</div>
	<%end%>
	<br>
</div>
