<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ct_subhability.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ct_subhability.description %>
</p>

<p>
  <strong>Ct hability:</strong>
  <%= @ct_subhability.ct_hability %>
</p>

<%= link_to 'Edit', edit_ct_subhability_path(@ct_subhability) %> |
<%= link_to 'Back', ct_subhabilities_path %>
