<%= form_for(@course) do |f| %>

  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">

      <div class="form-group">
        <label for="course_name" class="col-sm-9 control-label">Nombre</label>
        <div class="col-sm-offset-4">
          <div class="col-xs-6">
            <%= f.text_field :name, id:"course_name", class:"form-control", placeholder: 'Ingrese nombre del curso' %>
            <br>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="description" class="col-sm-9 control-label">Sigla</label>
        <div class="col-sm-offset-4">
          <div class="col-xs-6">
            <%= f.text_field :description, cols: 40, rows: 5, class:"form-control", placeholder: 'Ej: ICS3003-2016/2' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span4">
            <div class="spacer10"></div>
        </div>
      </div>
      <br></br>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <div class="actions">
            <%= f.submit :'Crear Curso', :class=>"btn btn-primary", :style=>'color:white' %>
          </div>
        </div>
      </div>
    </form>
  <% end %>
</div>
