<%- if current_user.role?%>
  <h1>Evaluación Formativa</h1>
  <br></br>
    <%= link_to 'Agregar Evaluación de Video', new_course_tree_path(@course), :class=>"btn btn-primary", :style=>'color:white' %>


  <br></br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Evaluaciones de Video</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
      <% @course.trees.sort_by{|e| e[:created_at]}.each do |tree| %>
        <tr>
            <% if tree.content.text.length > 30%>
              <td><%= tree.content.text[0,40] %>...</td>
            <% else %>
              <td><%= tree.content.text%></td>
            <% end %>
            <td><%= link_to 'Vista previa', [@course, tree, {:type =>'initial', :state => "not_seen"}], method: :post, class:"btn btn-primary btn-xs", style:'color:white'%></td>
            <td><%= link_to 'Despeño de evaluación', tree_performance_path({:course_id => @course.id ,:tree_id => tree.id}), method: :post, class:"btn btn-primary btn-xs", :style=>'color:white'%></td>
            <td><%= link_to 'Ver/Editar', edit_course_tree_path(@course, tree), class:"btn btn-primary btn-xs", style:'color:white'%></td>
            <td><%= link_to 'Eliminar', [@course, tree], method: :delete, data: { confirm: '¿Seguro que deseas eliminar el arbol?' },:class=>"btn btn-danger btn-xs", :style=>'color:white'%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


