<%- if current_user.role?%>
  <h1>Mis Reportes</h1>
  <br></br>
    <%= link_to 'Generar nuevo reporte', new_course_report_path(@course), :class=>"btn btn-success", :style=>'color:white' %>

    <%= link_to 'Ir a rendimiento de alumnos', students_report_path(@course), :class=>"btn btn-primary", :style=>'color:white; float:right;' %>

  <br></br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Reporte</th>
        <th></th>
        <th></th>       
      </tr>
    </thead>
    <tbody>
      <% @course.reports.sort_by{|e| e[:created_at]}.each do |report| %>
        <tr>
            
            <td><%= report.name%></td>
            
            <td> <%= link_to 'Revisar', course_report_path(@course, report), class:"btn btn-primary btn-xs", style:'color:white'%></td>
            <td><%= link_to 'Eliminar', [@course, report], method: :delete, data: { confirm: '¿Seguro que deseas eliminar el reporte?' },:class=>"btn btn-danger btn-xs", :style=>'color:white'%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
