<nav>
  <ul class="nav nav-justified">
    <li class="active"><a href="#">Mis Cursos</a></li>
    <li><a href="#">Fase de Inicio</a></li>
    <li><a href="#">Fase de Desarrollo</a></li>
  </ul>
</nav>

<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li><a href="#"><%= link_to "Cursos", users_path %></a></li>
  <li><a href="#"><%= link_to @course.name, course_path(@course) %></a></li>
  <li><a href="#">Fase de inicio</a></li>
  <li class="active">Videos</li>
</ol>


<br></br>
<table class="table table-striped">

  <thead>
    <tr>
      <th>Árbol de Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
	 <% @course.trees.sort_by{|e| e[:created_at]}.each do |tree| %>
	    <tr>       
	       <td><%= link_to tree.content.text, course_tree_path(@course, tree) %></td>	       
	       <td>
	       	<div class="btn-group" role="group" aria-label="...">
			  <button type="button" class="btn btn-default">Revisar</button>
			  <%= link_to 'Editar', edit_course_tree_path(@course, tree), :class => "btn btn-default" %>
	       	  <%= link_to 'Eliminar', [@course, tree], method: :delete, data: { confirm: '¿Seguro que deseas eliminar el arbol?' }, :class => "btn btn-default"  %>			  		  
			</div>
	       </td>      
	    </tr>	  
	 <% end %>
 </tbody>
</table>
<%= link_to 'Agregar Video', new_course_tree_path(@course) %>
