<%= form_tag controller:"reports", action: "create", :method => :post do %>


<% if current_user.role?%>
  <br>
  <h4>Seleccione las evaluaciones de videos con las que desea realizar el reporte:</h4>
  <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Evaluaciones de Video</th>
        <th>Video</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
      <% @course.trees.sort_by{|e| e[:created_at]}.each do |tree| %>
        <tr>
            <td><%= check_box_tag "trees[]", tree %></td>
            <% if tree.content.text.length > 30%>
              <td><%= tree.content.text[0,40] %>...</td>
            <% else %>
              <td><%= tree.content.text%></td>
            <% end %>
            <td><%= tree.video%></td>            
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% end %>
