<p id="notice"><%= notice %></p>


<table class="table table-bordered">

    <thead class="primary">
        <th>Contenido/Habilidad de PC</th>
        <th>Contenido</th>
        <th>Interpretar</th>
        <th>An치lisis</th>
        <th>Evaluaci칩n</th>
        <th>Inferencia</th>
        <th>Explicaci칩n</th>
        <th>Autoregulaci칩n</th>
    </thead>
    <tbody>

      <% @report.trees.each do |tree| %>
          
          <tr>
            
              <td><%=tree.content.text %></td>
              <td><%=tree.content_sc %></td>
            <td><%= tree.interpretation_sc %></td>
            <td><%= tree.analysis_sc %></td>
            <td><%= tree.evaluation_sc %></td>
            <td><%= tree.inference_sc %></td>
            <td><%= tree.explanation_sc %></td>
            <td><%= tree.selfregulation_sc %></td>
          </tr>

      <% end %>

          <tr>
            <td>Total Habilidad PC</td>
            <td><%= @report.content_sc %></td>
            <td><%= @report.interpretation_sc %></td>
            <td><%= @report.analysis_sc %></td>
            <td><%= @report.evaluation_sc %></td>
            <td><%= @report.inference_sc %></td>
            <td><%= @report.explanation_sc %></td>
            <td><%= @report.selfregulation_sc %></td>
          </tr>
      
    </tbody>

</table>


<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
