<p id="notice"><%= notice %></p>


<br>

<!-- Modal -->
<div class="modal fade" id="criterios" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Criterio para evaluar</h4>
      </div>
      <div class="modal-body">

        1. Contenido con menos nivel de cumplimiento, se trabaja con todas las habilidades de pensamiento crítico <br>
        2. Contenido con cumplimiento medio, se trabaja con la mitad de las habilidades con menores resultados <br>
        3. Contenidos con mayor cumplimiento, se trabaja con peores habilidades <br> <br>

        **En resultados, una habilidad no evaluada se considera con puntaje 0
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Continuar</button>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading"><h4>Recomendación para la clase
    <button type="button" data-toggle="modal" data-target="#criterios">  Criterio utilizado</h4></div>


<table class="table table-bordered">
  <thead class="head" style="background-color: white">
    <th class="badtd"></th>
    <th style="text-align: left; color:#5E6066;">Prioridad alta</th>
    <th class="normaltd"></th>
    <th style="text-align: left; color:#5E6066;">Prioridad media</th>
    <th class="goodtd"></th>
    <th style="text-align: left; color:#5E6066;">Prioridad baja</th>
    <th ></th>
    <th style="text-align: left; color:#5E6066;">Logrado</th>
</table>
    <table class="table table-bordered">


      <thead class="head">
          <th>Contenido / Habilidad de Pensamiento Crítico</th>
          <th>Interpretar</th>
          <th>Análisis</th>
          <th>Evaluación</th>
          <th>Inferencia</th>
          <th>Explicación</th>
          <th>Autoregulación</th>
      </thead>
      <tbody>
        <% contador = 0 %>
      <% @report.trees.order("created_at").each do |tree| %>
            <% i = 0 %>
            <% contador +=1%>
            <tr>
              <td class="content2" ><button class="link" data-toggle="modal" data-target="#modal2<%= contador %>"><b><u><%=tree.content.text %></u></b></td>

             
              

              <% @groups_tree.each do |group| %>

                <%# if group.include?(tree) && i == 0 %>
                <%puts "ante se coooomparar objetosssssssssssssssssssssssssss" %>
                <% puts group[0].inspect %>
                <% puts tree.inspect %>
                <% puts " "  %>
                <% if (group[0] == tree || group[1] == tree) && i == 0 %>
                      <td class="badtd"></td>
                      <td class="badtd"></td>
                      <td class="badtd"></td>
                      <td class="badtd"></td>
                      <td class="badtd"></td>
                      <td class="badtd"></td>
                <% elsif group.include?(tree) && (i == 1 || i == 0)  %>
                  <%# puts @groups_ct_hability[1].inspect %>
                  <% if @groups_ct_hability3[0].any?{|k, v| k == "Interpretación"} %>
                      <td class="normaltd"></td>
                  <% else %>
                      <td></td>
                  <% end %>
                  <% if @groups_ct_hability3[0].any?{|k, v| k == "Análisis"} %>
                      <td class="normaltd"></td>
                  <% else %>
                      <td></td>
                  <% end %>
                  <% if @groups_ct_hability3[0].any?{|k, v| k == "Evaluación"} %>
                      <td class="normaltd"></td>
                  <% else %>
                      <td></td>
                  <% end %>
                  <% if @groups_ct_hability3[0].any?{|k, v| k == "Inferencia"} %>
                      <td class="normaltd"></td>
                  <% else %>
                      <td></td>
                  <% end %>
                  <% if @groups_ct_hability3[0].any?{|k, v| k == "Explicación"} %>
                      <td class="normaltd"></td>
                  <% else %>
                      <td></td>
                  <% end %>
                  <% if @groups_ct_hability3[0].any?{|k, v| k == "Autoregulación"} %>
                      <td class="normaltd"></td>
                  <% else %>
                      <td></td>
                  <% end %>
                <% elsif group.include?(tree) && i == 2 %>
                  <% if @groups_ct_hability2[0].any?{|k, v| k == "Interpretación"} %>
                    <td class="goodtd"></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <% if @groups_ct_hability2[0].any?{|k, v| k == "Análisis"} %>
                    <td class="goodtd"></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <% if @groups_ct_hability2[0].any?{|k, v| k == "Evaluación"} %>
                    <td class="goodtd"></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <% if @groups_ct_hability2[0].any?{|k, v| k == "Inferencia"} %>
                    <td class="goodtd"></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <% if @groups_ct_hability2[0].any?{|k, v| k == "Explicación"} %>
                    <td class="goodtd"></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <% if @groups_ct_hability2[0].any?{|k, v| k == "Autoregulación"} %>
                    <td class="goodtd"></td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              <% i = i + 1 %>
            <% end %>
            </tr>
      <% end %>
    </tbody>
</table>
</div>



<br><br>

<div class="panel panel-info">
  <div class="panel-heading"><h4>Promedio de rendimiento de evaluaciones</h4></div>

<table class="table table-bordered">

    <thead class="head">
        <th>Contenido / Habilidad de PC</th>
        <th >Contenido</th>
        <th>Interpretar</th>
        <th>Análisis</th>
        <th>Evaluación</th>
        <th>Inferencia</th>
        <th>Explicación</th>
        <th>Autoregulación</th>
        <th class="content">N</th>
    </thead>
    <% contador = 0 %>
    <tbody>
      <% @report.trees.order("created_at").each do |tree| %>

          <tr style="background-color: white">
              <td class="content2" ><button class="link" data-toggle="modal" data-target="#modal2<%= contador+1 %>"><b><u><%=tree.content.text %></u></b></td>


              <div class="modal fade" id="modal2<%= contador+1 %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><%=tree.content.text %> </h4>
                    </div>
                    <div class="modal-body">


                      <div class="panel panel-success">
                        <div class="panel-heading"><h4> Pregunta Inicial </h4></div>
                        <div class="panel-body">
                          <b><%=tree.initial_content_question.question %></b><br><br>
                          <ul>
                            <% tree.initial_content_question.content_choices.each do |choice| %>
                                <% if choice.right %>
                                  <li><font color="green"><%= choice.text %></font></li>
                                <% else %>
                                  <li><%= choice.text %></li>
                                <% end %>
                            <% end %>
                          </ul> 
                          <br>
                          <b><%=tree.initial_ct_question.question %></b><br> <br>
                          <ul>
                            <% tree.initial_ct_question.ct_choices.each do |choice| %>
                                  <% if choice.right %>
                                    <li><font color="green"><%= choice.text %> </font></li>
                                  <% else %>
                                    <li><%= choice.text %></li>
                                  <% end %>
                            <% end %> 
                          </ul>
                        </div>
                        <div class="panel-footer"> <b>Habilidades:</b> 
                          <% tree.initial_ct_question.ct_habilities.each do |hability| %>
                            <% if hability.active %>
                              <%= hability.name %>, 
                            <% end %>                            
                          <% end %>
                        <br>
                        <b>Puntaje Contenido:</b> <%= getInitialContentSc tree%>
                        <br> 
                        <b>Puntaje Pensamiento Crítico:</b> <%= getInitialCtSc tree %>
                        </div>
                      </div>

                      <div class="panel panel-warning">
                        <div class="panel-heading"><h4> Pregunta Recuperativa </h4></div>
                        <div class="panel-body">
                          <b><%=tree.recuperative_content_question.question %></b><br><br>
                          <ul>
                            <% tree.recuperative_content_question.content_choices.each do |choice| %>
                                <% if choice.right %>
                                  <li><font color="green"><%= choice.text %></font></li>
                                <% else %>
                                  <li><%= choice.text %></li>
                                <% end %>
                            <% end %>
                          </ul> 
                          <br>
                          <b><%=tree.recuperative_ct_question.question %></b><br> <br>
                          <ul>
                            <% tree.recuperative_ct_question.ct_choices.each do |choice| %>
                                  <% if choice.right %>
                                    <li><font color="green"><%= choice.text %> </font></li>
                                  <% else %>
                                    <li><%= choice.text %></li>
                                  <% end %>
                            <% end %> 
                          </ul>
                        </div>
                        <div class="panel-footer"> <b>Habilidades: </b>
                          <% tree.recuperative_ct_question.ct_habilities.each do |hability| %>
                            <% if hability.active %>
                              <%= hability.name %>, 
                            <% end %>                            
                          <% end %>
                        <br>
                        <b>Puntaje Contenido:</b> <%= getRecuperative1ContentSc tree %>
                        <br> 
                        <b>Puntaje Pensamiento Crítico:</b> <%= getRecuperative1CtSc tree %>
                        </div>
                      </div>

                      <div class="panel panel-info">
                        <div class="panel-heading"><h4> Pregunta de Profundización </h4></div>
                        <div class="panel-body">
                          <b><%=tree.deeping_content_question.question %></b><br><br>
                          <ul>
                            <% tree.deeping_content_question.content_choices.each do |choice| %>
                                <% if choice.right %>
                                  <li><font color="green"><%= choice.text %></font></li>
                                <% else %>
                                  <li><%= choice.text %></li>
                                <% end %>
                            <% end %>
                          </ul> 
                          <br>
                          <b><%=tree.deeping_ct_question.question %></b><br> <br>
                          <ul>
                            <% tree.deeping_ct_question.ct_choices.each do |choice| %>
                                  <% if choice.right %>
                                    <li><font color="green"><%= choice.text %> </font></li>
                                  <% else %>
                                    <li><%= choice.text %></li>
                                  <% end %>
                            <% end %> 
                          </ul>
                        </div>
                        <div class="panel-footer"> <b>Habilidades:</b> 
                          <% tree.deeping_ct_question.ct_habilities.each do |hability| %>
                            <% if hability.active %>
                              <%= hability.name %>, 
                            <% end %>                            
                          <% end %>
                        <br>
                        <b>Puntaje Contenido:</b> <%= getDeeping1ContentSc tree %>
                        <br> 
                        <b>Puntaje Pensamiento Crítico:</b> <%= getDeeping1CtSc tree %>
                        </div>
                      </div>


                </div>
              </div>
              <% if tree.content_sc %>
                  <td><%=tree.content_sc.round(2) %></td>
              <%else%>
                  <td></td>
              <% end %>
              <% if tree.interpretation_sc %>
                  <td><%=tree.interpretation_sc.round(2) %></td>
              <%else%>
                  <td> </td>
              <% end %>
              <% if tree.analysis_sc %>
                  <td><%=tree.analysis_sc.round(2) %></td>
              <%else%>
                  <td> </td>
              <% end %>
              <% if tree.evaluation_sc %>
                  <td><%=tree.evaluation_sc.round(2) %></td>
              <%else%>
                  <td> </td>
              <% end %>
              <% if tree.inference_sc %>
                  <td><%=tree.inference_sc.round(2) %></td>
              <%else%>
                  <td> </td>
              <% end %>
              <% if tree.explanation_sc %>
                  <td><%=tree.explanation_sc.round(2) %></td>
              <%else%>
                  <td> </td>
              <% end %>
              <% if tree.selfregulation_sc %>
                  <td><%=tree.selfregulation_sc.round(2) %></td>
              <%else%>
                  <td> </td>
              <% end %>
              <td class="content">  <%= getN tree %></td>
              <% contador += 1 %>




          </tr>

      <% end %>

          <tr class="head">
              <td style="color:white">Promedio</td>
              <td style="color:white">
                <% if @report.content_sc %>
                      <%=@report.content_sc.round(2) %>
                <%else%>
                      <%= " " %>
                <% end %>
              </td>
              <td style="color:white"><% if @report.interpretation_sc %>
                      <%=@report.interpretation_sc.round(2) %>
                  <%else%>
                      <%= " " %>
                  <% end %>
              </td>
              <td style="color:white"><% if @report.analysis_sc %>
                      <%=@report.analysis_sc.round(2) %>
                  <%else%>
                      <%= " " %>
                  <% end %>
              </td>
              <td style="color:white"><% if @report.evaluation_sc %>
                      <%=@report.evaluation_sc.round(2) %>
                  <%else%>
                      <%= " " %>
                  <% end %>
              </td>
              <td style="color:white"><% if @report.inference_sc %>
                      <%=@report.inference_sc.round(2) %>
                  <%else%>
                      <%= " " %>
                  <% end %>
              </td>
              <td style="color:white"><% if @report.explanation_sc %>
                      <%=@report.explanation_sc.round(2) %>
                  <%else%>
                      <%= " " %>
                  <% end %>
              </td>
              <td style="color:white"><% if @report.selfregulation_sc %>
                      <%=@report.selfregulation_sc.round(2) %>
                  <%else%>
                      <%= " " %>
                  <% end %>
              </td>
          </tr>

    </tbody>

</table>

</div>
