<p id="notice"><%= notice %></p>


<table class="table table-bordered">

    <thead>
        <th>Contenido/Habilidad de PC</th>
        <th>Interpretar</th>
        <th>An치lisis</th>
        <th>Evaluaci칩n</th>
        <th>Inferencia</th>
        <th>Explicaci칩n</th>
        <th>Autoregulaci칩n</th>
    </thead>
    <tbody>

      <% @report.trees.each do |tree| %>
          <% tree.set_report_values %>
          <tr>
            <td>
              <td><%=tree.content.text %></td>
              <td><%=tree.content_sc %></td>
            </td>
            <td><%= tree.interpretation_sc %></td>
            <td><%= tree.analysis_sc %></td>
            <td><%= tree.evaluation_sc %></td>
            <td><%= tree.inference_sc %></td>
            <td><%= tree.explanation_sc %></td>
            <td><%= tree.selfregulation_sc %></td>
          </tr>

      <% end %>

          <tr>
            <td>Total Habilidad PC</td>
            <td>@report.interpretation_sc </td>
            <td>@report.analysis_sc </td>
            <td>@report.evaluation_sc </td>
            <td>@report.inference_sc </td>
            <td>@report.explanation_sc </td>
            <td>@report.selfregulation_sc </td>
          </tr>
      
    </tbody>

</table>




<p>
  <strong>Course:</strong>
  <%= @report.course %>
</p>

<p>
  <strong>Interpretation sc:</strong>
  <%= @report.interpretation_sc %>
</p>

<p>
  <strong>Analysis sc:</strong>
  <%= @report.analysis_sc %>
</p>

<p>
  <strong>Evaluation sc:</strong>
  <%= @report.evaluation_sc %>
</p>

<p>
  <strong>Inference sc:</strong>
  <%= @report.inference_sc %>
</p>

<p>
  <strong>Explanation sc:</strong>
  <%= @report.explanation_sc %>
</p>

<p>
  <strong>Selfregulation sc:</strong>
  <%= @report.selfregulation_sc %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
