<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header">
        <% if user_signed_in? %>
          <a class="navbar-brand" href="/users">Inicio</a>
          <% if !current_user.current_course_id && current_user.role? %>
            <a class="navbar-brand" href="/courses/new">Crear Curso</a>
          <% end %>
          <% else %>
          <a class="navbar-brand" href="/">Inicio</a>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if user_signed_in? %>
          <% if current_user.role && current_user.current_course_id? %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Actividades",  homeworks_path%></li>
            </ul>

            <ul class="nav navbar-nav">
              <li><%= link_to "Alumnos",  course_users_path(current_user.current_course_id)%></li>
            </ul>

            <ul class="nav navbar-nav">
              <li><%= link_to "Asistencia",  users_asistencia_path%></li>
            </ul>

            <ul class="nav navbar-nav">
              <li><%= link_to "Configuraciones",  edit_course_path(current_user.current_course_id)%></li>
            </ul>
          <% elsif current_user.current_course_id %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Actividad",  homeworks_path%></li>
            </ul>
          <% end %>
        <% end %>



      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email.to_s %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>

        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
