<nav class="navbar navbar-inverse" style="background-color:#337AB7">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header">
        <% if user_signed_in? %>
          <% if current_page?(users_path) || current_page?(new_course_path)%>
            <a class="navbar-brand" href="/users" style="color:yellow">Mis Cursos</a>
          <% elsif current_page?(new_homework_path) %>
            <a class="navbar-brand" href="/users" >Mis Cursos</a>
          <% else %>
            <a class="navbar-brand" href="/users" >Mis Cursos</a>
          <% end %>

        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if user_signed_in? %>
          <% if current_user.role? %> <!-- && current_user.current_course_id? -->
            <% if current_page?(users_path)%> <!-- SI ESTAS EN MIS CURSOS-->
              <ul class="nav navbar-nav">
                <li class="disabled"><%= link_to "Fase Inicio",  users_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li class="disabled"><%= link_to "Fase Desarrollo",  users_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li  class="disabled"><%= link_to "Actividades",  users_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li class="disabled"><%= link_to "Configuraciones",  users_path %></li>
              </ul>
            <% elsif current_page?(course_path(current_user.current_course_id))%> <!-- SI ESTAS EN INICIO CURSO-->
              <ul class="nav navbar-nav">
                <li><%= link_to "Fase Inicio",  users_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li><%= link_to "Fase Desarrollo",  users_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li><%= link_to "Actividades",  homeworks_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li><%= link_to "Configuraciones",  edit_course_path(current_user.current_course_id) %></li>
              </ul>
            <% elsif current_page?(homeworks_path)%> <!-- SI ESTAS EN ACTIVIDADES -->
              <ul class="nav navbar-nav">
                <li><%= link_to "Fase Inicio",  users_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li><%= link_to "Fase Desarrollo",  users_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li><%= link_to "Actividades",  homeworks_path, :style => "color:yellow" %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li><%= link_to "Configuraciones",  edit_course_path(current_user.current_course_id) %></li>
              </ul>

            <% elsif current_page?(new_course_path)%> <!-- SI ESTAS EN CREAR CURSO -->
              <ul class="nav navbar-nav">
                <li  class="disabled"><%= link_to "Fase Inicio",  new_course_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li  class="disabled"><%= link_to "Fase Desarrollo",  new_course_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li class="disabled"><%= link_to "Actividades",  new_course_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li class="disabled"><%= link_to "Configuraciones",  new_course_path %></li>
              </ul>

            <% elsif current_page?(new_homework_path)%> <!-- SI ESTAS EN CREAR ACTIVIDAD -->
              <ul class="nav navbar-nav">
                <li  class="disabled"><%= link_to "Fase Inicio",  new_homework_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li  class="disabled"><%= link_to "Fase Desarrollo",  new_homework_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li><%= link_to "Actividades",  homeworks_path, :style => "color:yellow" %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li class="disabled"><%= link_to "Configuraciones",  new_homework_path %></li>
              </ul>

            <% else %>
              <ul class="nav navbar-nav">
                <li><%= link_to "Fase Inicio",  users_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li><%= link_to "Fase Desarrollo",  users_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li><%= link_to "Actividades",  homeworks_path %></li>
              </ul>

              <ul class="nav navbar-nav">
                <li><%= link_to "Configuraciones",  edit_course_path(current_user.current_course_id) %></li>
              </ul>
            <% end %>
          <% end %>
        <% end %>



      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email.to_s %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>

        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
