<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header">
        <% if user_signed_in? %>
          <a class="navbar-brand" href="/users">Inicio</a>
          <% else %>
          <a class="navbar-brand" href="/">Inicio</a>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if user_signed_in? %>

          <ul class="nav navbar-nav">
            <%- if current_user.role?%>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actividades <span class="caret"></span></a>
                <ul class="dropdown-menu">

                  <% Homework.all.each_with_index do |homework, i| %>
                    <li><%= link_to "#{homework.name}" ,homework_questions_path(homework) %></li>
                  <% end %>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Crear Actividad', new_homework_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Todas', homeworks_path %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to 'Actividades', homeworks_path %></li>
            <% end -%>
          </ul>

          <% if current_user.role? %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Alumnos",  users_students_path%></li>
            </ul>

            <ul class="nav navbar-nav">
              <li><%= link_to "Asistencia",  users_asistencia_path%></li>
            </ul>

            <ul class="nav navbar-nav">
              <li><%= link_to "Configuraciones",  users_configuration_path%></li>
            </ul>
          <% end %>

        <% end %>


      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email.to_s %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>

        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
