<!DOCTYPE html>
<html>
<head>
  <title>Didáctica UC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/layouts/navbar' %>
<% if user_signed_in? %>
  <%= render '/layouts/breadcrumbs' %>
<% end %>
<div class="container">
  <main role="main">
    <%= yield %>
  </main>
</div>

</body>
</html>
